{
  "HVM64": {
    "Fn::Include": "https://rjfctzfei2.execute-api.us-east-1.amazonaws.com/latest/ami/lookup?architecture=HVM64&platform=windows"
  },
  "HVMG2": {
    "Fn::Include": "https://rjfctzfei2.execute-api.us-east-1.amazonaws.com/latest/ami/lookup?architecture=HVMG2&platform=windows"
  }
}
