{
  "HVM64": {
    "Fn::Include": "https://api.netcubed.de/latest/ami/lookup?architecture=HVM64&platform=windows"
  },
  "HVMG2": {
    "Fn::Include": "https://api.netcubed.de/latest/ami/lookup?architecture=HVMG2&platform=windows"
  }
}
